{% extends 'base.html'  %}



{% block login %}

<style type="text/css">
	
body {

	background-image: none;
}

</style>

<h1>Please log in {{username}} !</h1>

<div>

	<form class="form-horizontal" role="form" action="/auth/login/" method="post">
	{% csrf_token %}
	<label for="username">Имя пользователя</label>
		<input type="text" name="username" id="username">

	<label for="password">Пароль</label>
		<input type="password" name="password" id="password">
	{% if login_error %}	
		<label class='error'> {{ login_error }} </label>	
	{% endif %}	
		<br>
		<br>
	<div>	<input class='btn btn-success' type="submit" value="Войти "> </div>

		
	</form>
</div>
<div><a class="label label-info" href="/auth/register/">Регистрация</a></div>
{% endblock %}