body {
margin: 0;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
line-height: 20px;
color: rgba(60, 49, 30, 0.39);
background-color: #D13353;
}
p {

	color: #000000;
}

body {
	background: url('../images/women_and_girl.jpg') 100% 100% no-repeat;
	
    background-size: cover; /* Масштабируем фон */
    

}

.hero-unit {

opacity: 0.7;
}

.span3 {background-color: #eeeeee;
	opacity: 0.5;
	border-radius:6px; 
-webkit-border-radius:6px; 
-moz-border-radius:5px; 
-khtml-border-radius:10px;


}

.hero-unit h1 {

	color: rgb(50, 92, 57);

}

h2 {
	
	color: rgb(50, 92, 57);

}