{% extends 'base.html'  %}

{% load staticfiles %}

{% block content %}

<style type="text/css">
	
body {

	background-image: none;
}

</style>

<h1>Почему онлайн-обучение?!</h1>


<h2>
	В чём преимущества онлайн-занятий?

</h2>
    <img src="{% static 'images/teacher_online.jpg' %}" alt="" align="right" width="400">
<pre>
	
    В наше время найти подходящего репетитора для 
ребенка младшего школьного возраста — задача
непростая, несмотря на обилие предложений. Поиск
хорошего педагога связан со множеством проблем,
наиболее распространенной из которых является
территориальная. Нередки случаи, когда 
понравившийся вам преподаватель живет далеко от
вас, и возить к нему ребенка крайне неудобно. Кроме
того, действительно хорошие педагоги, как правило,
обладают большой загруженностью и не всегда
соглашаются приезжать к ученику на другой конец
города. Мы предлагаем отличное решение —
онлайн - занятия с репетитором начальных классов
с использованием программы Skype!




                                                   Основным преимуществом уроков по скайпу является отсутствие необходимости везти ребенка к репетитору или же приглашать педагога к себе. В назначенное время вы просто                включаете компьютер, связываетесь с преподавателем и урок начинается. Таким образом, вы экономите не только свое время, но и время своего ребенка — а значит, его силы и здоровье. Ведь сразу после окончания занятия он может приступать к своим     делам, посвящая время, сэкономленное на поездке к репетитору,играм и отдыху.
    

  </pre>
  <pre>
  	
	Удобный для вашего ребенка график занятий вы составляете сами, согласуя его с преподавателем, при этом всегда есть возможность перенести урок на другое время.
   Онлайн-уроки становятся настоящей палочкой-выручалочкой в случае, если ребенок (не дай Бог, конечно, но всякое случается) долгое время болеет и не может ходить в школу, но способен при этом заниматься с репетитором. Кроме того, это отличный вариант в ситуации, когда необходимо перевести ребенка с очного обучения на экстернат, например, если вашей семье нужно срочно уехать куда-то на продолжительное время.

	Немаловажно также то, что занятия по скайпу проводит грамотный педагог, по-настоящему любящий детей и умеющий совместно с ними добиваться успехов. В каком бы районе, городе или поселке вы не находились, у вашего ребенка есть возможность заниматься с квалифицированным специалистом, не выходя из дома.

  </pre>
{% endblock %}